
.dbbod{
	background:#fbfbfb;
	min-height: 100%;
	font-family: Poppins;
	position: relative;
}
a.nound{
	text-decoration: none!important;
}
.container{
	padding: 45px;
}
.foolink h4{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.1px;
  color: #2c3e50;
  
}
.logog{
	font-size: 20px;
	color:#2ecc71;
}
#ham, .logog{
display: inline-block;
vertical-align:middle;
}
#ham{
	border:0;
	width:16px;
	height:16px;
	background: url("../icon/static/ham.png");
	background-size: 100% 100%;
	cursor: pointer;
	margin-right: 17px;
	outline: none!important;
}

.titl{
	
	font-size: 20px;
	letter-spacing: 1.1px;
	display: inline-block;
vertical-align:middle;
}
.rightsd{
	float:right;
	font-size: 15px;
	letter-spacing: 0.4px;
font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #9e9e9e;
  position: relative;
}
.notif{
	margin-right: 50px;
	display: inline-block;
    vertical-align: middle;
}
.fotop{
	margin-right:10px;
	width: 33px;
	height: 33px;
	border-radius: 100%;
	border:0;
	    display: inline-block;
    vertical-align: middle;
}
#navleft{
min-width: 233px;
    background: #fff;
	padding-bottom: 22px;
	position: absolute;
	left: 0%;
	bottom: 0;
	top: 77px;
	color:#757575;

}
#navleft.down{
	left:0;
}
/*
#navleft:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
box-shadow: -0px -5px 5px 0 rgba(0, 0, 0, 0.05);
}*/
#navleft h4{
	color: #757575;
	font-size: 12px;
	letter-spacing: 0.7px;
	margin: 10px 37px;
	}
#navleft nav a{
	color: #757575;
	font-size: 15px;
	padding: 10px 0;
	display:block;
	text-decoration:none;
}
#navleft nav.utama a{
	padding-left:37px;
	padding-right:37px;
	}
#navleft nav.utama a:hover{
	    background: #f7f7f7;
}
#navleft nav.secondm a{
	margin-left:37px;
	margin-right:37px;
}
#navleft nav.secondm a:hover{
	text-decoration: underline;
}
#navleft nav a img{
	    margin-right: 10px;
    padding-bottom: 2px;
	vertical-align: middle;
}
#navleft .widg {
	padding: 16px 0;
}
#quicks{
	margin-top: 27px;
}
#borderer {
	border-bottom:1px solid #eeeeee;
	margin: 0 30px;
}
#mainthing{
/*flex-grow: 1;
*/
}
#navco{
	background: #fff;
	position: relative;
	padding: 22px 42px;
	box-shadow: 5px -0px 5px 0 rgba(0, 0, 0, 0.05);
	line-height: 1.5;
}
#navleft:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.01);
}

#realmain{
	padding: 40px;
	position: relative;
	max-width: 1068px;
    margin: 0 auto;
}
#realmain .widg h4{
	font-size: 16px;
	letter-spacing: 0.4px;
	
}
#realmain .widg,#culinair  .widg{
	margin-bottom: 55px;
	}
#quicks .actq{
	padding-left: 0;
}
.kotaq{
	padding: 0 47px;
margin-top: 10px;
display: inline-block;
}
.kotaqu{
	padding: 37px;
	background: #fff;
	  border-radius: 5px;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
  margin-top: 30px;
}
#cul{
	text-align: center;
}
#cul .boks{
    display: inline-block;
    width: 33%;
    vertical-align: top;
    text-align: left;
    box-sizing: border-box;
    padding: 20px;
	position: relative;
}
#cul .boks .bkm{
	width: 36px;
	height: 38px;
	background-position: center;
	background-image: url('../icon/static/vertical-bookmark.png');
	position: absolute;
	background-repeat: no-repeat;
	background-color: #fff;
	border-radius: 3px;
	top: 35px;
	right: 35px;
}
#cul .boks .infb{
	 font-family: Poppins;
 font-size: 14px;
  font-weight: 500;
  color: #5c5c5c;
  margin-bottom: 20px;
}
.stars span{
    width: 12px;
    height: 13px;
    background-repeat: no-repeat;
    display: block;
    margin-right: 4px;
    vertical-align: middle;
    background-image: url(../icon/static/star.png);
    float: left;
}
#cul .boks .infb .rigt{
	float: right;
}
.harga{
	color: #27ae60;
}
#cul .boks p{
	  font-family: Lato;
  font-size: 14px;
  line-height: 1.39;
  letter-spacing: 0.8px;
  color: #9e9e9e;
}
#cul .boks .maga{
	background: #999;
	border-radius: 5px;
	width: 100%;
	display: block;
	margin: 0;
	height:0;
	padding-top:77%;
}
#cul .boks h2{
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 26px;
  margin-bottom: 18px;
  color: #424242;
}
.bokz{
	border-bottom:1px solid #eeeeee;
}
.bokz:last-child{
	border: 0;
}
.bokz .c{
display: inline-block;
vertical-align: middle;
	text-align: left;
	box-sizing: border-box;
	padding: 33px 9px;
	}

.bokz .c.c1 .mager{
	width: 100%;
	display: block;
height: 0;
	padding-bottom: 77%;
	background: #999;
	border-radius: 3px;
	
}
.bokz .c.c2{
	font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: #9e9e9e;
}
.bokz h2{
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #424242;
  margin-bottom:13px;
}
.bokz .c.c2{
	width:27%;
}
.bokz .c.c4{
	width: 30%;
	  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #9e9e9e;
}
.bokz .c.c3{
	width: 20%;
}
.bokz .c.c3 div{
	margin-bottom:13px;
}
.bokz .c.c1{
	width:11%;
}
.bokz .c.c5{
	width:7%;
	  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.4px;
  color: #4b93cf;
}
.bokz .c.c5 a{color: #4b93cf;text-decoration: none!important;}
.bokz .c2,.bokz .c4{
}
.widh .lefte {
	display: inline-block;
	vertical-align: middle;
}
.widh .righte{
	float: right;
}
.widh a{
	border-radius: 3px;
  background-color: #2ecc71;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  padding: 10px 33px;
  text-decoration: none;
}
#quicks .kotaq{
	
}
#quicks .ikon{
	background-repeat: no-repeat;
    background-position: center;
	width: 58px;
	height: 58px;
	border-radius: 5px;
	float: left;
	margin-right: 21px;
}
#quicks .booq{
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
#quicks .ikon.ac-us{
	background-image: url('../icon/static/man-user.png');
	background-color: #3498db;
}
#quicks .ikon.boo{
	background-image: url('../icon/static/notebook.png');
	background-color: #2ecc71;
}
#quicks .ikon.rev{
	background-image: url('../icon/static/stats.png');
	background-color: #fdd835;
}
#quicks .statin {
	float: left;
	margin-top: 5px;
}
#quicks .statin .inf{
	letter-spacing: 0.4px;
	font-size: 15px;
	color: #9e9e9e;
	display: block;
	line-height: 15px;
}
#quicks .statin .pcount{
    color: #9e9e9e;
    display: block;
    font-size: 15px;
    margin-top: 5px;
}
#quicks .statin .count{
	color: #424242;
	letter-spacing: 0.8px;
	font-size: 24px;
	font-family: Lato;
	font-weight: bold;
	margin-right:5px;
}
.latestu thead th{
	border: 0;
  font-family: Poppins;
  font-size: 16px;
  letter-spacing: 0.9px;
  color: #9e9e9e;
  text-align:left;
  padding-bottom: 20px;
}
.latestu td, .latestu th{
	padding: 12px 56px 12px 0;
}
.latestu tbody tr{
	border-bottom: solid 1px #edeef0;
}
.latestu tbody tr:last-child{
	border: 0;
}
.latestu tbody tr:first-child  th,.latestu tbody tr:first-child  td{ 
border: 0;
}
.latestu tbody th, .latestu tbody td{
font-family: Poppins;
letter-spacing: 0.7px;
font-size: 12px;
font-weight: 500;
color: #616161;
}
.isi h4{
	font-size: 20px!important;
}
#culinair .kotaq{
	padding: 20px;
	margin-top: 30px;
}
#culinair .culco{
		padding: 0;
}
#culinair .culco h2{
	letter-spacing: 0.5px;
  text-align: left;
  color: #424242;
  font-size: 20px;
}
#culinair .dalm{
	padding: 20px;
	}
#culinair .row{
	margin: 0;
}
#culinair .culco img{
	width: 100%;
  min-height: 218px;
  display:block;
border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 25px;
}
#culinair .culco .par{
	font-size: 14px;
	 letter-spacing: 0.8px;
  color: #bdbdbd;
  font-family: Lato;
}
#culinair .lefter{
	float: left;
}
#culinair .righter{
	float: right;
}
#culinair .jumat{
	font-family: Lato;
	font-size: 15px;
  letter-spacing: 0.9px;
  color: #9e9e9e;
      margin-top: 7px;
}
#culinair .serc{
    width: 298px;
    /* height: 42px; */
    border-radius: 21px;
    background-color: #ffffff;
    border: solid 2px #eeeeee;
    outline: none!important;
    padding: 10px 20px;
		box-sizing: unset;
	    vertical-align: middle;
		  font-family: Lato;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #757575;
}
#culinair .selc{
width: 144px;
    height: 38px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.9px;
    text-align: left;
    color: #424242;
    border: solid 2px #eeeeee;
    border-radius: 21px;
    outline: none!important;
    text-indent: 10px;
	box-sizing: unset;
	    vertical-align: middle;
}
#culinair .tamb{
	width: 164px;
  height: 38px;
  border-radius: 21px;
  background-color: #3498db;
  color: #fff;
  border: 0!important;
  	box-sizing: unset;
	    vertical-align: middle;
		  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.9px;
  color: #ffffff;
  cursor: pointer;
  background-position:center;
  background-repeat: no-repeat;
  outline: none;
}
#content{

	display: none;
}
#content .kotaq{
	padding: 58px;
}
#content .kotaq h4{
	font-size: 20px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: 1.1px;
  color: #4b93cf;
}
#content h5{
	font-family: Lato;
  font-size: 15px;
  line-height: 2.47;
  letter-spacing: 0.9px;
  color: #9e9e9e;
}
#content .adt{
border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  border: solid 2px #f5f5f5;
}
.dhtml {
    height: 100%;
}
a.actived {
	color:#2ecc71!important;
}
#menup{
	display: none;
	background: #fff;
	border: 1px solid;
	position: absolute;
	right: 0;
	padding: 15px;
	z-index: 3;
}
#menub{
	width: 20px;
	height: 8px;
	background: url('../icon/static/down-arrow.png') no-repeat;
	border:0!important;
	cursor: pointer;
	vertical-align: middle;
	    padding: 0!important;
	background-position: center; 
}