@font-face {
font-family: Poppins;
src: url(../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
font-family: Lato;
src: url(../font/Lato/Lato-Regular.ttf);
}
.dbbod{
	background:#fcfcfc;
	display: flex;
	min-height: 100%;
	font-family: Poppins;
}
a.nound{
	text-decoration: none!important;
}
.container{
	padding: 45px;
}
.foolink h4{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.1px;
  color: #2c3e50;
  
}
.logog{
	font-size: 24px;
	color:#2ecc71;
	display: block;
	    padding-bottom: 22px;
		margin: 0 37px;
}
.titl{
	float: left;
	font-size: 20px;
	letter-spacing: 1.1px;
}
.rightsd{
	float:right;
	font-size: 15px;
	letter-spacing: 0.4px;
}
#navleft{
min-width: 233px;
    background: #fff;
	float: left;
	padding: 22px 0;
	position: relative;
	
}
#navleft:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
box-shadow: -0px -5px 5px 0 rgba(0, 0, 0, 0.05);
}
#navleft h4{
	color: #9e9e9e;
	font-size: 12px;
	letter-spacing: 0.7px;
	margin: 10px 37px;
	}
#navleft nav a{
	color: #b5b5b5;
	font-size: 15px;
	padding: 10px 0;
}
#navleft nav.utama a{
	padding-left:37px;
	padding-right:37px;
	}
#navleft nav.utama a:hover{
	    background: #f7f7f7;
}
#navleft nav.secondm a{
	margin-left:37px;
	margin-right:37px;
}
#navleft nav.secondm a:hover{
	text-decoration: underline;
}
#navleft nav a img{
	    margin-right: 10px;
    padding-bottom: 2px;
}
#navleft .widg {
	padding: 24px 0 16px;
}
#borderer {
	border-bottom:1px solid #eeeeee;
	margin: 0 30px;
}
#mainthing{
flex-grow: 1;

}
#navco{
	background: #fff;
	position: relative;
	padding: 22px 42px;
}
#navco:before {
  background: transparent;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
box-shadow: 5px -0px 5px 0 rgba(0, 0, 0, 0.05);
}
.notif{
	margin-right: 50px;
	display: inline-block;
}
.fotop{
	margin-right:18px;
	width: 33px;
	height: 33px;
	background:#000;
	border-radius: 100%;
	border:0;
}
#realmain{
	padding: 40px;
	position: relative;
}
#realmain .widg h4{
	font-size: 16px;
	letter-spacing: 0.4px;
	
}
#realmain .widg,#culinair  .widg{
	margin-bottom: 55px;
	}
#quicks{
	
}
.kotaq{
border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
	padding: 21px;
margin-top: 10px
}
#quicks .kotaq{	margin: 10px 25px 0 15px;}
#quicks .ikon{
	background-repeat: no-repeat;
    background-position: center;
	width: 58px;
	height: 58px;
	border-radius: 5px;
	float: left;
	margin-right: 21px;
}
#quicks .ikon.ac-us{
	background-image: url('../icon/static/man-user.png');
	background-color: #3498db;
}
#quicks .ikon.boo{
	background-image: url('../icon/static/notebook.png');
	background-color: #2ecc71;
}
#quicks .ikon.rev{
	background-image: url('../icon/static/stats.png');
	background-color: #fdd835;
}
#quicks .statin {
	float: left;
	margin-top: 5px;
}
#quicks .statin .inf{
	letter-spacing: 0.4px;
	font-size: 15px;
	color: #9e9e9e;
	display: block;
	line-height: 15px;
}
#quicks .statin .pcount{
	color: #9e9e9e;
	display: block;
	font-size: 15px;
}
#quicks .statin .count{
	color: #424242;
	letter-spacing: 0.8px;
	font-size: 28px;
	font-family: Lato;
}
.latestu thead th{
	border: 0;
	letter-spacing: 0.9px;
	font-size: 16px;
	color: #9e9e9e;
	font-weight: normal;
}
.latestu tbody tr:first-child  th,.latestu tbody tr:first-child  td{ 
border: 0;
}
.latestu tbody th, .latestu tbody td{
font-family: Lato;
letter-spacing: 0.7px;
font-size: 12px;
font-weight: 500;
color: #616161;
}
#culinair .kotaq{
	padding: 20px;
	margin-top: 30px;
}
#culinair .culco{
		padding: 0;
}
#culinair .culco h2{
	letter-spacing: 0.5px;
  text-align: left;
  color: #424242;
  font-size: 20px;
}
#culinair .dalm{
	padding: 20px;
	}
#culinair .row{
	margin: 0;
}
#culinair .culco img{
	width: 100%;
  min-height: 218px;
  display:block;
border-radius: 5px;
  background-color: #fafafa;
  margin-bottom: 25px;
}
#culinair .culco .par{
	font-size: 14px;
	 letter-spacing: 0.8px;
  color: #bdbdbd;
  font-family: Lato;
}
#culinair .lefter{
	float: left;
}
#culinair .righter{
	float: right;
}
#culinair .jumat{
	font-family: Lato;
	font-size: 15px;
  letter-spacing: 0.9px;
  color: #9e9e9e;
}
#culinair .serc{
	width: 298px;
  height: 42px;
  border-radius: 21px;
  background-color: #ffffff;
  border: solid 2px #eeeeee;
  outline: none!important;
  padding: 10px;
}
#culinair .selc{
	 width: 68px;
  height: 14px;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: left;
  color: #424242;
}
#culinair .tamb{
	width: 164px;
  height: 42px;
  border-radius: 21px;
  background-color: #3498db;
  color: #fff;
  border: 0!important;
}
#content{

	display: none;
}
#content .kotaq{
	padding: 58px;
}
#content .kotaq h4{
	font-size: 20px;
  font-weight: 500;
  line-height: 1.85;
  letter-spacing: 1.1px;
  color: #4b93cf;
}
#content h5{
	font-family: Lato;
  font-size: 15px;
  line-height: 2.47;
  letter-spacing: 0.9px;
  color: #9e9e9e;
}
#content .adt{
border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  border: solid 2px #f5f5f5;
}
.dhtml {
    height: 100%;
}
a.actived {
	color:#2ecc71!important;
}