html{

}
body{

}
.full{
position: relative;	
    height: 100%;
}
#barnav{
	padding: 42px;
	margin: 0 auto;
	line-height: 45px;
	max-width: 1210px;
	color:#fff;


}
.juds{
	  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.7px;
  	font-family: Lato;
	float: left;
}
.menus,.juds,.signin{
	display:block;
}
.signin{
	float: right;
	border-radius: 22px;
  background-color: #ffffff;
  padding: 0 37px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #2ecc71;
}
.menus{
	  font-family: Poppins;
	      text-align: center;
}
.menus .m{
	margin: 0 15px;
	font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: left;
  color: #ffffff;
}
#opener{
    background-image: url(../property/group-5.png);
    background-repeat: no-repeat;
    background-position-x: center;
	background-position-y: -305px;
    /* min-height: 100%; */
    height: 911px;
    background-size: auto auto;
}
.ghost{
	height:386px;
	/*padding-bottom:395px;*/
    display: table;
	
    width: 100%;
}
.padderer{
	display:table;
	height:395px;
	width:100%;
	background: #000;
	opacity:0.2;
}
.daleman{
    display: table-cell;
    vertical-align: middle;
	text-align: center;
	color: #fff;
font-family: Poppins;
}
.daleman h1{
	  font-size: 34px;
	  font-weight: normal;
	  letter-spacing: 1.3px;
}
.daleman .gpart{
	font-weight: bold;
}
.daleman p{
	font-family: Lato;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.9px;
}
.getstart{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff;
    padding: 0 40px;
    border-radius: 26px;
    border: 2px solid #fff;
    height: 52px;
    display: table;
    line-height: 48px;
	margin: 0 auto;
}
.micin{
	padding-top: 158px;
}
.micin h2{
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.09;
  letter-spacing: 0.9px;
  text-align: center;
  color: rgba(44, 62, 80, 0.92);
}
.micin hr{
	width: 72px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #e0e0e0;
  border: 0;
  margin-top: 30px;
}